body{
    margin: 0;
    font-family:system-ui;
}
.heading{
   background-image:url('Downloads/Grocery Store/image/banner-bg.webp');
   height:max-content;
   background-attachment:fixed;
   background-position:top;
   background-repeat:no-repeat;
   background-size:100%;
}
.page-title{   
   text-align:center;
   color:rgb(104, 43, 43);
   padding:50px;
   font-variant: small-caps;
   font-size: 100px;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   letter-spacing: 20px;
   text-decoration:underline;
}
.sticky{
   position:fixed;
   top:0;
   width:100%;
}
.menu{
   background: #25513b;
   text-align:center;
}
.menu-ul{
   margin:0;
   padding:0;
   display:inline;
}
.menu-ul li{
   font-size:17px;
   list-style:none;
   display:inline-block;
   padding:25px 25px 26px 25px;
}
.a-menu{
   text-decoration:none;
   color:white;
}
.menu-ul li:hover{
   background:#589f57;
   transform:scale (1.1);
}
.search-box{
   border:1px solid white;
   border-radius:50px;
   background:white;
   width:max-content;
   display: inline-block;
   margin: 8px;
}
.search-box:hover{
   box-shadow: 0 0 10px 2px #5b8c5a;
   border:1px solid #5b8c5a;
}
.search-input{
   width:250px;
   border:none;
   font-size:16px;
   outline:none;
   background:transparent;
   margin:15px 0 0 10px;
}
i{
   font-size: 20px;
   margin:0 10px 0 0;
}
   
button{
   background: transparent;
   border:none;
   outline:none;
}
.container,.deals-container{
   margin:50px 50px 50px 5%;
   width: 90%;
   text-align:center;
}
   
.categories{
   width:max-content;
   margin: 25px;
   border:lpx solid #184d47;
   border-radius:0 0 50px S50px;
   display:inline-block;
}
.categories:hover{
   box-shadow:0 0 10px 3px #184d47;
   }
   
.item-image{
   height: 200px;
   width: 200px;
   border-radius:0 0 50px 50px;
   padding:10px;
}
.title{
   padding: 50px;
   font-size:50px;
   font-weight :bold;
   letter-spacing:10px;
   color:white;
   background: rgba(0,0,0,0.5);
}

.deal{
padding: 50px;
font-size:20px;
font-weight :bold;
color:rgb(253, 253, 253);
display:inline-block;
margin: 20px;
max-width:20%;
background:linear-gradient(120deg, #16817a 20%, #cee397 50%, #16817a 80%)
}
.coupon-btn{
   border:1lpx solid rgb(249, 255, 248);
   color:rgb(0, 0, 0);
   margin: 10px;
   padding:10px;
   border-radius:20px;
   
}
   
.coupon-btn:hover {
   box-shadow:0 0 10px 5px rgb(0, 0, 0) inset;
}
.images{
   display:inline-block;
}
   
.item-image-size{
   height:200px;
   width:300px;
   padding: 5px;
}  
.description{
   margin: 20px;
   min-height: 100px;
   }
   
.item-select{
   margin:10px 0 0 0;
}
   
.buynow-btn{
   border:lpx solid #184d47;
   background: #184d47;
   padding:5px 15px;
   border-radius:20px;
   font-weight: bold;
   margin-top: 10px;
   color:white
}